@import "tailwindcss";

@import "@vidstack/react/player/styles/default/theme.css";
@import "@vidstack/react/player/styles/default/layouts/video.css";

@import "@vidstack/react/player/styles/base.css";
@import "@vidstack/react/player/styles/plyr/theme.css";

.vimeo-player iframe {
  width: 100%;
  height: 100%;
}
