@import "tailwindcss";
@import "@vidstack/react/player/styles/default/theme.css";
@import "@vidstack/react/player/styles/default/layouts/video.css";

.vimeo-player iframe {
  width: 100%;
  height: 100%;
}

.vds-time-slider {
  background-color: grey !important;
  display: block;
}
.vds-slider-progress {
  background-color: red !important;
}
